/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$font-size:          16px !default;
$line-height:        24px !default;
$text-color:         #333 !default;
$background-color:   #fff !default;





// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$spacing:           $line-height;
$spacing--tiny:     round($spacing / 4);
$spacing--small:    round($spacing / 2);
$spacing--large:    round($spacing * 2);
$spacing--huge:     round($spacing * 4);
